.slideshow-main-content {
  display: grid;
  grid-template-columns: 6.4fr 3.6fr;

  gap: 50px;
}

.main-image-wrapper {
  position: relative;
}

.main-image-wrapper .view-image {
  position: absolute;
  left: 15px;
  bottom: 12px;

  cursor: pointer;
}

.main-image-wrapper rect {
  transition: 0.3s ease;
}

.main-image-wrapper .view-image:hover rect {
  fill: #979797;
}

.slideshow-main-image-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.6fr;

  position: relative;
}

.main-image-wrapper img.main-image {
  display: block;

  width: 475px;
  height: 100%;
}

.slideshow-main-image-wrapper .art-content {
  background-color: #fff;

  width: 445px;

  position: absolute;
  top: 0;
  left: calc(100% - 140px);

  padding: 0 75px 65px 65px;
}

.slideshow-main-image-wrapper .art-content h3 {
  line-height: 1.1;
}

.slideshow-main-image-wrapper .art-name {
  font-size: 56px;
}

.slideshow-main-image-wrapper .artist-name {
  font-size: 15px;

  margin-top: 24px;
}

.slideshow-main-image-wrapper .artist {
  position: absolute;
  bottom: 20px;
  left: 100%;
  margin-left: 30px;

  width: fit-content;
}

.art-description {
  position: relative;
}

.art-description .year {
  display: block;

  font-size: 200px;

  color: #f3f3f3;

  line-height: 1;
}

.art-description .art-text-wrapper {
  transform: translateY(-100px);

  padding-right: 110px;
}

.art-description .art-text-wrapper p {
  font-size: 14px;
  line-height: 28px;

  color: #7d7d7d;
}

.art-description .source {
  display: inline-block;

  margin-top: 81px;

  text-transform: uppercase;

  color: #7d7d7d;

  font-size: 9px;

  transition: 0.2s;
}

.art-description .source:hover {
  color: #000;
}

.overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.8);

  display: none;
}

.overlay .art-content {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.overlay .art {
  padding: 20px;
  max-width: calc(100vw - 40px);
  max-height: calc(100dvh - 40px);

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.overlay .art img {
  max-width: 100%;
  max-height: calc(100dvh - 120px);
}

.close-art {
  display: block;

  text-align: right;

  margin-bottom: 33px;

  color: #fff;
  text-transform: uppercase;

  letter-spacing: 3px;

  transition: 0.2s;

  font-size: 14px;
}

.close-art:hover {
  color: #7d7d7d;
}

.footer-slideshow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 21px 0;
}

.footer-slideshow .progress-bar {
  position: absolute;
  top: 0;

  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.1);
}

.footer-slideshow .progress-bar .current-progress {
  display: inline-block;

  position: absolute;
  top: 0;

  width: 100px;
  height: 3px;

  background: rgba(0, 0, 0, 0.8);
}

.footer-slideshow .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 41px;
}

.footer-slideshow .current-slide-art p {
  font-size: 18px;

  color: #000;

  font-weight: bold;
}

.footer-slideshow .current-slide-art span {
  display: inline-block;

  font-size: 13px;

  margin-top: 8px;
}

.footer-slideshow .next-prev-arrows {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.footer-slideshow .next-prev-arrows svg:not(.disabled) {
  cursor: pointer;
}

.footer-slideshow .next-prev-arrows svg.disabled path,
.footer-slideshow .next-prev-arrows svg.disabled rect {
  stroke: rgba(0, 0, 0, 0.2);
}

.footer-slideshow .next-prev-arrows svg path,
.footer-slideshow .next-prev-arrows svg rect {
  transition: 0.2s;
}

.footer-slideshow .next-prev-arrows svg:hover:not(.disabled) path,
.footer-slideshow .next-prev-arrows svg:hover:not(.disabled) rect {
  stroke: rgba(0, 0, 0, 0.5);
}

/* MOBILE */
@media (max-width: 576px) {
  .main-image-wrapper .view-image {
    top: 16px;
    left: 16px;
  }

  .footer-slideshow {
    position: relative;
  }

  .footer-slideshow .current-slide-art p {
    font-size: 14px;
  }

  .footer-slideshow .current-slide-art span {
    font-size: 10px;
  }

  .footer-slideshow .footer-content {
    padding: 0 24px;
  }

  .footer-slideshow .next-prev-arrows svg {
    width: 16px;
    height: 16px;
  }

  .overlay .art {
    padding: 20px;
    max-width: calc(100vw - 10px);
    max-height: calc(100dvh - 20px);
  }

  .slideshow-main-image-wrapper {
    grid-template-columns: 1fr;
  }

  .main-image-wrapper img.main-image {
    display: block;

    max-width: 100%;
    height: auto;
  }

  .slideshow-main-content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .slideshow-main-image-wrapper .art-content {
    width: 80%;

    position: relative;
    top: initial;
    left: 0;

    transform: translateY(-50px);

    padding: 24px;
  }

  .slideshow-main-image-wrapper .art-name {
    font-size: 24px;
  }

  .slideshow-main-image-wrapper .artist-name {
    margin-top: 8px;
  }

  .slideshow-main-image-wrapper .artist {
    position: relative;
    bottom: 0;
    left: 0;
    margin-left: 0;

    transform: translate3d(25px, -50px, 0);
  }

  .slideshow-main-image-wrapper .artist img {
    max-width: 64px;
    max-height: 64px;
  }

  .art-description .year {
    font-size: 100px;
    text-align: right;

    transform: translateY(-80px);
  }

  .art-description .art-text-wrapper {
    padding-right: 0;
  }
}

/* TABLET */
@media (min-width: 577px) and (max-width: 1250px) {
  .footer-slideshow {
    position: relative;
  }

  .slideshow-main-content {
    grid-template-columns: 1fr;
  }

  .slideshow-main-image-wrapper {
    grid-template-columns: 6.9fr 3fr;
  }

  .main-image-wrapper img.main-image {
    display: block;

    width: 100%;
  }

  .slideshow-main-image-wrapper .art-content {
    width: 100%;

    left: calc(50% - 40px);
  }

  .slideshow-main-image-wrapper .artist {
    top: 233px;
    margin-left: 0;
    left: calc(100% + 20px);
  }

  .art-description .art-text-wrapper {
    padding: 0 110px;
  }
}
