* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: fit-content;
  font-family: "Libre Baskerville", serif;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.galleria-logo {
  font-weight: bold;
  font-size: 48px;
}

.start-slideshow {
  text-transform: uppercase;
  font-size: 12px;
  color: #7d7d7d;
  letter-spacing: 2px;
}

.images-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.art {
  position: relative;
  cursor: pointer;
}

.art-name-and-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  padding: 32px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.96) 100%
  );
}

.art-name-and-artist p {
  color: #fff;
}
