* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: fit-content;
  font-family: monospace;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 40px;
  max-width: 1440px;
  margin: 0 auto;
}

.images-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.art {
  background: red;
  /* flex: 1; */
}
