@import url("./slideshow.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: fit-content;
  font-family: "Libre Baskerville", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 81px;

  padding: 20px;
}

img {
  display: block;
}

.container {
  padding: 40px;

  max-width: 1440px;

  height: fit-content;

  margin: 0 auto;
}

.start-slideshow {
  text-transform: uppercase;

  font-size: 12px;
  color: #7d7d7d;

  letter-spacing: 2px;

  background: transparent;
  border: none;
  cursor: pointer;

  font-family: "Libre Baskerville", serif;

  transition: 0.2s;
}

.start-slideshow:hover {
  color: #000;
}

.images-wrapper img {
  display: block;
  width: 100%;
  margin: 0;
}

.images-wrapper {
  position: relative;
}

.grid-item {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;

  cursor: pointer;

  padding: 20px;
}

.art {
  position: relative;
  cursor: pointer;
}

.art-name-and-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;

  padding: 32px;
}

.art-name-and-artist .art-name,
.art-name-and-artist .artist-name {
  z-index: 1;
}

.art-name-and-artist::after {
  content: "";
  display: block;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.96) 100%
  );
}

.art-name-and-artist .art-name {
  color: #fff;
  font-size: 24px;
}

.art-name-and-artist .artist-name {
  margin-top: 7px;
  font-size: 13px;
  color: #e1e1e1;
}

[data-active_slideshow="false"] {
  .footer-slideshow {
    display: none;
  }

  .slideshow {
    display: none;
  }
}

[data-active_slideshow="true"] {
  .images-wrapper {
    display: none;
  }

  .slideshow {
    display: block;
  }

  .footer-slideshow {
    display: block;
  }
}

@media (max-width: 576px) {
  .start-slideshow {
    font-size: 9px;
  }

  header {
    margin-bottom: 48px;
  }

  header .logo {
    width: 100px;
  }

  .container {
    padding: 24px;
  }

  .images-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  }
}
