@import url("./slideshow.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Libre Baskerville", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 81px;
}

@media (max-width: 576px) {
  header .logo {
    width: 100px;
  }
}

img {
  display: block;
  margin: 0;
}

.container {
  padding: 40px;

  max-width: 1440px;

  height: fit-content;

  margin: 0 auto;
}

.start-slideshow {
  text-transform: uppercase;

  font-size: 12px;
  color: #7d7d7d;

  letter-spacing: 2px;

  background: transparent;
  border: none;
  cursor: pointer;

  font-family: "Libre Baskerville", serif;

  transition: 0.2s;
}

.start-slideshow:hover {
  color: #000;
}

@media (max-width: 576px) {
  .start-slideshow {
    font-size: 9px;
  }

  header {
    margin-bottom: 48px;
  }

  .container {
    padding: 24px;
  }
}

.images-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.images-wrapper img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.art {
  position: relative;
  cursor: pointer;
}

.art-name-and-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  padding: 32px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.96) 100%
  );
}

.art-name-and-artist p {
  color: #fff;
}
